################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sweet Liberty/.vs/Sweet Liberty/FileContentIndex/33720bca-6bef-4508-8334-35d730391b6a.vsidx
/Sweet Liberty/.vs/Sweet Liberty/FileContentIndex
